<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>successfully uploaded</h1>
    <form action="/mydonations" method="post">
        <button type="submit" value = "mydonations" name="btn">Go to my donations</button>
    </form>
    
</body>
</html>